// 1. variables
$var-bg: rgb(79, 128, 227);
$var-color: black;
$var-fnt-lg: 44px;
$var-font: 13px;

$var-fnt:(phone:33px, tablet:44px, laptop:55px);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-color: $var-bg;
    color:$var-color;
}
p{
    font-size: $var-fnt-lg;
}

@media screen and (max-width:900px) {
    p{
        font-size: $var-font;
    }
}





//2.  nesting

header{
    background-color: black;
    display: flex;
    justify-content: space-around;
   
   align-items: center;

h2{
    color: whitesmoke;
    font-size:$var-fnt-lg ;
}


nav{
    padding: 10px;
}
nav a{
    list-style-type: none;
    font-size: $var-font;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;


}

button{
   
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
   
    
}

}




// 3. operators

div{
 p{
    font-size: 5px + 16px ;
    // font-size:5em +16px this will show error
   
 }


}


// 4. map 

// in variable we can only store data once at a time but in map we can store many data at a time

.map{
    h4{
        margin-top: 55px;
font-size: map-get($map: $var-fnt, $key: phone);

    }



    @media screen and (max-width:900px) {
        font-size: map-get($map: $var-fnt
        , $key:laptop );
    }
}



// 5. ampersand
//  & this targets the parents elements

button{
    &:hover{
        color: red;
        font-size: 6px + 6;
    }
}



//  6. mixin





@mixin last-line{
    border: 2px solid green;
    font-size: 22px;
    justify-content: center;
    flex-direction: column;
    h3{
        &:hover{
            color: pink;
            width:13px;
        }
    }
}
.mix{
    @include last-line;
}


// 7. extend

extend{
    display: flex;
    text-align: center;
    background-color: black;
    a{
        list-style: none;
        text-decoration: none;
        color: white;
        padding: 0 22px;
    }
}
alert{
    font-size: 44px;
   margin:33px;

}

.link{
    @extend extend;
    @extend alert;
}


// 8. partial

@import '_common.scss'